*{
    margin: 0px;
    padding: 0px;
}
                                   /*navbar*/
.main{ 
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 10px;
    justify-content:space-between;
    align-items: center; 
}
.sub1{
    display: flex;
    border-radius: 10px;
   
}
.logo{
    font-size: 50px;
    font-weight:900;
    color: rgba(237, 97, 16, 0.932);
}
.sub3{
    display: flex;
     border-radius: 10px;
}
p{
    padding: 20px;
    font-size: 25px;
}
                                 /*hero section*/
.hero{
    display: flex;
    height: 90vh;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color:rgb(238, 124, 47);
    margin: 10px;
    margin: 0px 50px 0px 30px;
}
.txt{ display: flex;
    justify-content: flex-start;
    font-weight: 200;
    font-size: 25px;
    color: rgb(251, 250, 250);
}
.txts{
    color: azure;
    font-size: 80px;
    font-weight: 800;
}
.img{
    display: flex;
    height: 650px;
    overflow: hidden;
    justify-content: center;
    
   padding-bottom: 0px;
}
.btn1{
    color: white;
    padding: 20px;
    margin: 30px;
    width: 175px;
    border-radius: 20px;
    background-color: rgba(1, 1, 50, 0.996);

}
.btn2{
    color: white;
    padding: 20px;
    width: 175px;
    border-radius: 20px;
    margin: 10px;
    background-color: rgba(238, 117, 37, 0.996);

}

