*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
body{
    height: 400vh;

}
.nav{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 0;
     position: sticky;
    top: 0;
    background-color: white;
    z-index: 999;
}
.center{
    width: 1528px;
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    display: flex;
    gap: 53px;
     font-family: "Poppins", sans-serif;
    align-items: center;
}
a{
    color: #000;
    text-decoration: none;
    font-size: 18px;
}
.btn{
    color: white;
    height: 61px;
    width: 234px;
    border-radius: 30px;
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
    background-color: #03081F;
}
.link1{
    height: 45px;
    width: 127px;
    color: white;
    border-radius: 30px;
    display: flex;
    gap: 3px;
    justify-content: center;align-items: center;
    background-color: #FC8A06;


}
.hero{
   margin: 0 auto;
    height: 610px;
    width: 1528px;
    display: grid;
    grid-template-columns: repeat(2, calc(100%/2));
    justify-content: center;
    border-radius: 50px;
    position: relative;
   
}
.rig{
    width: 626px;
    height: 565px;
    right: 0;
    bottom: 0;
    border-radius: 282.2px 0 0 0;
    position: absolute;
    background-color: #FC8A06;

}
.right-img{
    height: 455px;
    width: 377px;
    position: absolute;
    left: -12px;
    bottom: 0;
    border-radius: 15px;
    object-fit: cover;
}
.center-img{
    height: 537px;
    position: absolute;
    bottom: 0;
    left: 350px;
}

.pic1{
    position: absolute;
    left: -12px;
    bottom: 0;

}

.card1{
    position: absolute;
    height: 127px;
    width: 390px;

}

.text{
    padding-left:66px ;
    flex-direction: column;
    display: flex;
    justify-content: center;
    justify-self: start;
    
   
}
.txt1{
    font-size: 16px;
    font-weight: 400;
}
.txt2{
    width: 509px;
    font-size: 54px;
    font-weight: 600;
    color: #03081F;
}
.offer{
    margin: 0 auto;
    font-size: 32px;
    font-weight: 600;
    width: 1528px;
    padding-top: 35px;
   
}
.cip{
    padding-top: 50px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.pc{
    height: 325px;
    width: 496px;
}
.pcp{
     height: 325px;
    width: 496px;
    border-radius: 15px;
}
.category{
    margin: 0 auto;
    padding-top: 35px;
    font-size: 32px;
    font-weight: 700;
    width: 1528px;
    display: flex;
    align-items: center;
   gap: 20px;
    
}
.dish-pic{
     margin: 0 auto;
    font-size: 32px;
    font-weight: 700;
    width: 1528px;
}
.pis{
    width: 238px;
    height: 203px;
    border-radius: 15px;
}
.company{
      margin: 0 auto;
    padding: 45px 0;
    font-size: 32px;
    font-weight: 700;
    width: 1528px;
    display: flex;
    align-items: center;
   gap: 15px;   

}
.comp-lofo{
    margin: 0 auto;
    font-size: 32px;
    font-weight: 700;
    width: 1528px;
}

.piss{
    width: 238px;
    height: 203px;
    border-radius: 15px;

}
.parent{
    margin: 0 auto;
    height: 611px;
    width: 1528px;
    display: flex;
    justify-content: end;
    align-items: end;
    background-color: #EEEEEE;
}
.pp{
    height: 641px;
    width: 832px;
    position: relative;
    bottom: 0;
    left:0;
    z-index: 998;
}
.right-div{
    
    height: 611px;
    width: 700px;
    font-size: 68px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    position: relative;
    bottom: -180px;
}
.go{
    height: 66px;
    width: 288px;

}
.ab{
    height: 90px;
    width: 878px;
    font-size: 54px;
    font-weight: 500;
    padding-right: 50px;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: end;
    align-items: center;
    position: absolute;
    left: -290px;
    border-radius: 99px;
    color: white;
    background-color:  #03081F;
}
.abh{
    height: 96px;
    width: 448px;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: end;
}
.play{
    height: 61px;
    width: 212px;
    font-size: 20px;
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
}
.div2{
    padding: 20px;
    margin: 0 auto;
    height: 425px;
    width: 1528px;
    display: grid;
    grid-template-columns: repeat(2, calc(100%/2) );
    gap: 8px;
    
    overflow: hidden;
}
.chid2{
    height: 425px;
    position: relative;
}
.liv{
    height: 425px;
    width: 762px;
    
    border-radius: 15px;
    object-fit: cover;
}
.liv-txt1{
    font-size: 18px;
    font-weight: 700;
     position: absolute;
    left: 50px;
    top:0;
    font-family: "Poppins", sans-serif;
    padding: 20px;
    color:#03081F;
    border-radius: 0px 0px 15px 15px;
    background-color: white;

}
.liv-txt2{
    bottom: 200px;
    left : 50px;
    position: absolute;
}
.li-txt{
    height: 35px;
    width: 263px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #FC8A06;

}
.tt{
    height: 47px;
    width: 485px;
    color: #FFFFFF;
    font-size: 44px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}
.get-st{
    position: relative;
    bottom: 150px;
    left : 50px;
    height: 52px;
    width: 205px;
    border-radius: 99px;
    border: 1px solid #FC8A06;
    background-color: #FC8A06;
}

